<!DOCTYPE html>
<html>
    <head>
        <title>Chess Game</title>
        <link rel='styesheet' type='text/css' src='../styles/main.css'>
    </head>

    <body>

        <form method="post">
            <label>Username</label>
            <input type='text' name="username">
            <label>Password</label>
            <input type='text' name="password">

            <input type='submit' value='submit'>
        </form>

    </body>
</html>
