@import url(https://fonts.googleapis.com/css?family=Nunito:200,400);@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6, a, p, input[type="submit"], button {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: normal; }

h1 {
  font-family: 'Ubuntu Condensed'; }

input[type="submit"], button {
  background-color: #ff9900;
  border: none;
  height: 50px;
  font-family: 'Nunito', sans-serif; }

a {
  text-decoration: none; }

a:hover {
  opacity: .6; }

body {
  background-color: #828282; }

.piece {
  width: 100%;
  height: 100%; }

.err-msg {
  color: #ff5454; }

.horizontal-line {
  width: 100%;
  border-bottom: 1px solid #cccccc; }

.tile {
  width: 12.5%;
  display: inline-block; }

.board {
  font-size: 0; }

.tile:nth-child(-2n+8),
.tile:nth-child(8) ~ .tile:nth-child(-2n+15),
.tile:nth-child(16) ~ .tile:nth-child(-2n+24),
.tile:nth-child(24) ~ .tile:nth-child(-2n+31),
.tile:nth-child(32) ~ .tile:nth-child(-2n+40),
.tile:nth-child(40) ~ .tile:nth-child(-2n+47),
.tile:nth-child(48) ~ .tile:nth-child(-2n+56),
.tile:nth-child(56) ~ .tile:nth-child(-2n+63) {
  background-color: #f49542; }

.highlight {
  background-color: #ffd368 !important;
  opacity: .6;
  border: 1px solid #e8a400; }

.in-check {
  background-color: #f74747 !important; }

@keyframes glow {
  from {
    box-shadow: 0 0 0; }
  to {
    box-shadow: 0 0 10px; } }

@keyframes winner {
  from {
    font-size: 30px; }
  to {
    font-size: 40px; } }

@keyframes fade {
  from {
    border: none; }
  to {
    border: 2px solid white; } }

@keyframes turn {
  from {
    opacity: 1; }
  to {
    opacity: .3; } }

@keyframes pulse {
  0% {
    background-color: #ea1300;
    width: 110px;
    height: 110px; }
  12% {
    width: 112px;
    height: 112px; }
  25% {
    background-color: #ffbb32;
    width: 115px;
    height: 115px; }
  33% {
    width: 118px;
    height: 118px; }
  50% {
    background-color: #1c4dff;
    width: 125px;
    height: 125px; }
  63% {
    width: 130px;
    height: 130px; }
  75% {
    background-color: #9514ff;
    width: 135px;
    height: 135px; }
  83% {
    width: 140px;
    height: 140px; }
  100% {
    background-color: #ff1466;
    width: 145px;
    height: 145px; } }

@keyframes typeSelect {
  from {
    background-color: #ffffff; }
  to {
    background-color: #ffae2d; } }

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media (min-width: 420px) {
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  body {
    background-image: url(f2764c077e54193e86581982b635b8f5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px -150px; }
  .main-landing-content {
    background-color: rgba(53, 53, 53, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px; }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    height: 70vh; }
  .header-container h1 {
    font-size: 3.2em;
    margin-bottom: 20px;
    font-family: 'Ubuntu Condensed', sans-serif; }
  .header-container > p {
    margin-bottom: 30px;
    font-weight: 300; }
  .header-container button {
    width: 150px;
    height: 40px;
    font-size: 18px; }
  .header-container > a {
    margin-top: 10px;
    margin-bottom: 10px; }
  .l-signup {
    background-color: #00d66b;
    animation-name: glow;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .news-container {
    margin-top: 25px;
    background-color: rgba(135, 135, 135, 0.6);
    padding: 15px; }
  .news-item {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #c1c1c1; }
  .news-item > h5 {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 7px; }
  .news-item > h4 {
    margin-bottom: 10px; }
  .news-item > p {
    font-size: 14px;
    font-style: italic;
    font-weight: 300; }
  .news-class-img {
    width: 100%;
    margin: 20px 0;
    max-width: 400px; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .landing {
    height: 100vh;
    width: 100%;
    padding: 110px 50px;
    background-color: rgba(53, 53, 53, 0.8); }
  .landing > h2 {
    text-align: center;
    margin-bottom: 20px; }
  .login-container > h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px; }
  .login-container > form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .login-container > form > input {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px 15px;
    width: 100%;
    max-width: 500px; }
  .login-container > form > input[type="submit"] {
    font-weight: 400;
    font-style: normal;
    width: 100%;
    max-width: 500px; }
  .auth-containers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
  .signup-btn {
    background-color: #00c656;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto; }
  .signup-btn > h3 {
    text-align: center;
    text-shadow: 1px 1px #d3d3d3; }
  .err-msg-container {
    margin-bottom: 15px; }
  .err-msg-container > h3 {
    opacity: 0;
    color: #ff5454;
    text-align: center; }
  .show {
    opacity: 1 !important; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .signup-container {
    text-align: center; }
  .signup-container h2 {
    margin-bottom: 30px; }
  .signup-error-conainer {
    height: 100px; }
  .signup-container form {
    display: flex;
    flex-direction: column; }
  .signup-container input {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px 15px;
    width: 100%;
    align-self: center;
    max-width: 500px; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.8); }
  .dashboard > h2 {
    margin: 45px 0; }
  .dashboard > h4 {
    margin-bottom: 10px;
    font-weight: 200px;
    font-style: italic;
    color: #005482; }
  .user-info {
    margin-bottom: 35px; }
  .find-game-btn {
    width: 200px;
    font-size: 20px;
    align-self: center;
    background-color: #00d66b; }
  #type-select {
    color: #2d0072;
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    margin-bottom: 25px;
    border: none;
    animation-name: typeSelect;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in; }
  /*---------Loading screen -----------*/
  .finding-game-load-screen {
    height: 100vh;
    background-color: #828282;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.8); }
  .finding-game-load-screen > h2 {
    font-weight: 200;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 50px; }
  .loader-container {
    width: 200px;
    margin-bottom: 40px; }
  .finding-game-load-screen > button {
    padding-bottom: 32px;
    line-height: 5px;
    width: 200px;
    margin-bottom: 100px;
    font-size: 20px;
    background-color: #f92545;
    padding: 25px; }
  .first-l {
    width: 200px;
    height: 200px;
    border-radius: 200px/200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-timing-function: ease-out; }
  .second-l {
    width: 150px;
    height: 150px;
    border-radius: 150px/150px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-out; }
  .main-l {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 100px/100px;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .board-view {
    display: flex; }
  .board {
    width: 54.5%;
    background-color: #ffffff; }
  .board-users-info-container {
    width: 30%; }
  .game-user-container {
    display: flex;
    align-items: center; }
  .game-user-container > h3 {
    margin-right: 20px; }
  .turn-show {
    animation-name: turn;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .board-class {
    color: #30e6ff; }
  /*-------------game over screen ---------------*/
  .game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #828282;
    height: 100vh;
    padding: 30px 10px; }
  .game-over-screen > h2 {
    margin-bottom: 20px; }
  .game-over-screen > button {
    width: 200px;
    font-size: 20px; }
  .game-over-screen > h4 {
    margin-bottom: 20px; }
  .winner-animation-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .game-winner {
    font-size: 30px;
    margin-bottom: 20px;
    animation-name: winner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .game-loser {
    font-size: 24px;
    margin-bottom: 25px; } }

@media (max-width: 420px) {
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  body {
    background-image: url(f2764c077e54193e86581982b635b8f5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px -150px; }
  .main-landing-content {
    background-color: rgba(53, 53, 53, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px; }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px; }
  .header-container h1 {
    font-size: 2.8em;
    margin-bottom: 20px;
    font-family: 'Ubuntu Condensed', sans-serif; }
  .header-container > p {
    margin-bottom: 30px;
    font-weight: 300; }
  .header-container button {
    width: 150px;
    height: 40px;
    font-size: 18px; }
  .header-container > a {
    margin-top: 10px;
    margin-bottom: 10px; }
  .l-signup {
    background-color: #00d66b;
    animation-name: glow;
    animation-duration: .75s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .news-container {
    margin-top: 25px;
    background-color: rgba(135, 135, 135, 0.6);
    padding: 15px; }
  .news-item {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #c1c1c1; }
  .news-item > h5 {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 7px; }
  .news-item > h4 {
    margin-bottom: 10px; }
  .news-item > p {
    font-size: 14px;
    font-style: italic;
    font-weight: 300; }
  .news-class-img {
    width: 100%;
    margin: 20px 0; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .landing {
    height: 100vh;
    width: 100%;
    padding: 110px 50px;
    background-color: rgba(53, 53, 53, 0.8); }
  .landing > h2 {
    text-align: center;
    margin-bottom: 20px; }
  .login-container > h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px; }
  .login-container > form {
    display: flex;
    flex-direction: column; }
  .login-container > form > input {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px 15px; }
  .login-container > form > input[type="submit"] {
    font-weight: 400;
    font-style: normal; }
  .auth-containers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
  .signup-btn {
    background-color: #00c656;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px; }
  .signup-btn > h3 {
    text-align: center;
    text-shadow: 1px 1px #d3d3d3; }
  .err-msg-container {
    margin-bottom: 15px; }
  .err-msg-container > h3 {
    opacity: 0;
    color: #ff5454;
    text-align: center; }
  .show {
    opacity: 1 !important; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(53, 53, 53, 0.8); }
  .dashboard > h2 {
    margin: 45px 0; }
  .dashboard > h4 {
    margin-bottom: 10px;
    font-weight: 200px;
    font-style: italic;
    color: #005482; }
  .user-info {
    margin-bottom: 35px; }
  .find-game-btn {
    width: 200px;
    font-size: 20px;
    align-self: center;
    background-color: #00d66b; }
  #type-select {
    color: #2d0072;
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    margin-bottom: 25px;
    border: none;
    animation-name: typeSelect;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in; }
  /*---------Loading screen -----------*/
  .finding-game-load-screen {
    height: 100vh;
    background-color: #828282;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(53, 53, 53, 0.8); }
  .finding-game-load-screen > h2 {
    font-weight: 200;
    font-style: italic;
    margin-top: 80px;
    margin-bottom: 50px; }
  .loader-container {
    width: 200px;
    margin-bottom: 40px; }
  .finding-game-load-screen > button {
    padding-bottom: 32px;
    line-height: 5px;
    width: 200px;
    margin-bottom: 100px;
    font-size: 20px;
    background-color: #f92545;
    padding: 25px; }
  .first-l {
    width: 200px;
    height: 200px;
    border-radius: 200px/200px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-timing-function: ease-out; }
  .second-l {
    width: 150px;
    height: 150px;
    border-radius: 150px/150px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-out; }
  .main-l {
    width: 100px;
    height: 100px;
    background-color: #000000;
    border-radius: 100px/100px;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .signup-container {
    text-align: center; }
  .signup-container h2 {
    margin-bottom: 30px; }
  .signup-error-conainer {
    height: 100px; }
  .signup-container form {
    display: flex;
    flex-direction: column; }
  .signup-container input {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px 15px; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .board {
    background-color: #ffffff;
    width: 100%; }
  .board-view {
    background-color: #828282;
    height: 100vh; }
  .board-users-info-container {
    padding: 20px; }
  .board-users-info-container > h4 {
    margin-left: 30px; }
  .game-user-container {
    display: flex;
    align-items: center; }
  .game-user-container > h3 {
    margin-right: 20px; }
  .board-username {
    font-size: 26px; }
  .turn-show {
    animation-name: turn;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .board-class {
    color: #30e6ff;
    font-size: 14px; }
  .board-wl {
    font-size: 12.5px; }
  /*-------------game over screen ---------------*/
  .game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #828282;
    height: 100vh;
    padding: 30px 10px; }
  .game-over-screen > h2 {
    margin-bottom: 20px; }
  .game-over-screen > button {
    width: 200px;
    font-size: 20px; }
  .game-over-screen > h4 {
    margin-bottom: 20px; }
  .winner-animation-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .game-winner {
    font-size: 30px;
    margin-bottom: 20px;
    animation-name: winner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; }
  .game-loser {
    font-size: 24px;
    margin-bottom: 25px; } }

@media (min-width: 1520px) {
  body {
    background-size: 110%; } }
