@import url(https://fonts.googleapis.com/css?family=Nunito:200,400);@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

h1, h2, h3, h4, h5, h6, a, p, input[type="submit"], button {
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-weight: normal; }

h1 {
  font-family: 'Press Start 2P';
  color: #322d72; }

input[type="submit"], button {
  background-color: #ff9900;
  border: none;
  height: 50px;
  font-family: 'Nunito', sans-serif; }

a {
  text-decoration: none; }

.err-msg {
  color: red; }

.tile {
  width: 100px;
  height: 100px;
  float: left; }

.board {
  width: 805px; }

/*Tile alternating background */
.tile:nth-child(-2n+8),
.tile:nth-child(8) ~ .tile:nth-child(-2n+15),
.tile:nth-child(16) ~ .tile:nth-child(-2n+24),
.tile:nth-child(24) ~ .tile:nth-child(-2n+31),
.tile:nth-child(32) ~ .tile:nth-child(-2n+40),
.tile:nth-child(40) ~ .tile:nth-child(-2n+47),
.tile:nth-child(48) ~ .tile:nth-child(-2n+56),
.tile:nth-child(56) ~ .tile:nth-child(-2n+63) {
  background-color: #f49542; }

.highlight {
  background-color: #ffd368 !important;
  opacity: .6;
  border: 1px solid #e8a400; }

.in-check {
  background-color: #f74747 !important; }

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
@media (max-width: 420px) {
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .landing {
    height: 100vh;
    width: 100%;
    background-color: #828282;
    padding: 110px 50px; }
  .landing > h1 {
    text-align: center;
    margin-bottom: 20px; }
  .login-container > h2 {
    text-align: center;
    font-weight: 200;
    margin-bottom: 20px; }
  .login-container > form {
    display: flex;
    flex-direction: column; }
  .login-container > form > input {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px 15px; }
  .login-container > form > input[type="submit"] {
    font-weight: 400;
    font-style: normal; }
  .auth-containers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; }
  .signup-btn {
    background-color: #00c656;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .signup-btn > h3 {
    text-align: center;
    text-shadow: 1px 1px #d3d3d3; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .dashboard {
    background-color: #828282;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .find-game-btn {
    width: 200px;
    font-size: 20px;
    align-self: center; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  .signup-container {
    text-align: center; }
  .signup-container h2 {
    margin-bottom: 30px; }
  .signup-error-conainer {
    height: 100px; }
  .signup-container form {
    display: flex;
    flex-direction: column; }
  .signup-container input {
    font-size: 24px;
    font-family: 'Nunito';
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    padding: 5px 15px; }
  /*---------------------------------------------------------------*/
  /*---------------------------------------------------------------*/
  img {
    max-width: 50px;
    max-height: 50px; }
  .board {
    max-width: 420px; }
  .tile {
    max-height: 52px;
    max-width: 52px; } }
