* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#chessBoard {
    width: 642px;
    height: 640px;
    border: 1px solid red;
    background: url('../chessPieces/chessBoard.png');
    background-size: cover;
}
.tile:hover {
    opacity: .51;
    background-color: black;
}

.tile {
    width: 80px;
    height: 80px;
    border:.2px solid black;
    float: left;
}
